<div class="top-bnr">
    <div class="container">
        <div class="txt-govco">
            <a href="https://www.gov.co" target="_blank">Ir a Gov.co</a>
        </div>
        <div class="logo-govco">
            <a href="https://www.gov.co" target="_blank">GOV CO</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="navbar navbar-expand-lg">
        <div class="nav-marca">
            <a href="#" class="logoPrincipal" title="CREG - Comisión de Regulación de Energía y Gas">CREG - Comisión de Regulación de Energía y Gas</a>            
            <!-- <a href="#" class="logoSecundario" title="SCR - Informacion de costos para regulacion">.</a> -->
        </div>
        <div class="nav-marca">            
            <a href="#" class="logoSecundario" title="SCR - Informacion de costos para regulacion"></a>
        </div>
        
        <div class="logo-ministerio order-lg-3 ml-lg-auto">
            <a href="https://www.minenergia.gov.co/" target="_blank">
                Minenergia
            </a>
        </div>
    </div>
</div>