<app-navbar></app-navbar>
<section class="cont-form">
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-sm-10 offset-sm-1 col-lg-10 offset-lg-1">
                    <form name="captura-datos">

                        <app-info-concepts [selected]='selected' [concepts]='concepts' [conceptsType]='conceptsType' [conceptsNature]='conceptsNature' [formatos]='formatos'></app-info-concepts>

                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <div *ngIf="concepts.length > 1" class="col-sm-12">
                                    <app-tbl-concepts (idSelected)="conceptSelected($event)" [concepts]='concepts'></app-tbl-concepts>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="awaiting" class="backCortinilla">
    <div class="containerCortinilla">
        <div class="imgCortinilla">
            <img src="assets/images/load.gif" class="imgLoad" alt="load">
        </div>
    </div>
</div>