<section class="cont-login">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h2>Cambiar Contraseña</h2>
                        <form name="form" role="form" action="carga-datos.html">
                            <div class="form-gray">
                                <div class="form-group">
                                    <label for="pass">Nueva Contraseña</label>
                                    <input id="pass"#pass value="{{recoverPasswordData.pass !=null ? recoverPasswordData.pass : ''}}" (keyup)=updateUser(pass)  type="password" name="pass" class="form-control" placeholder="Nueva Contraseña" required>
                                    <p class="errorColor">{{ mensajeErrorPass }}</p>
                                </div>
                                <div class="form-group">
                                    <label for="confpass">Confirmar Contraseña</label>
                                    <input id="confpass" #confpass value="{{recoverPasswordData.confpass !=null ? recoverPasswordData.confpass : ''}}" (keyup)=updateUser(confpass)   type="password" name="confpass" class="form-control" placeholder="Confirmar Contraseña" required>
                                    <p class="errorColor">{{ mensajeErrorConfPass }}</p>
                                </div>
                            </div>                            
                            
                            <div class="form-actions">                                    
                                <button type="button" (click)="recoverPassword(cortinilla)" class="btn btn-block btn-uno">Cambiar Contraseña</button>
                            </div>    

                            <div class="recommendation" >
                                <p>les recordamos que por motivos de seguridad las politicas de contraseña segura son :</p>
                                <p>El tamaño minimo requerido es de 8 caracteres</p>
                                <p>por lo menos debe contar con una mayuscula y una minuscula</p>
                                <p>por lo menos debe contar con un una cifra numerica</p>
                                <p>por lo menos debe contar con un caracter especial como  $ @ $ ! % * ? & </p>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #cortinilla class="modal fade" data-backdrop="static " data-keyboard="false " tabindex="-1 " aria-labelledby="staticBackdropLabel " aria-hidden="true ">
    <div id="cortinillaShow">
        <div class="container">
            <img src="assets/images/load.gif" class="imgLoad" alt="load">
        </div>
    </div>
    <div id="returnShow">
        <div class="form-actions">
            <p class="errorColor">{{ mensajeErrSend }}</p>
            <p class="succesColor">{{ mensajeConfSend }}</p>
            <button type="button" (click)="volver()" class="btn btn-block btn-uno">Volver</button>
        </div>
    </div>
</ng-template>

