<div class="admintbl table-responsive">
    <table datatable [dtOptions]="dtOptions" id="conceptos" class="table table-sm table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Código</th>
                <th>Código Padre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let concept of concepts">
                <td>{{ concept.cod_concepto }}</td>
                <td>{{ concept.nombre_padre }}</td>
                <td>{{ concept.descripcion_concepto }}</td>
                <td>
                    <div class="switch-button">
                        <input type="checkbox" name="switch-button" id="{{ concept.id_concepto }}" class="switch-button__checkbox" [checked]="concept.activo" (change)="changeState($event, modalActualizar)">
                        <label for="{{ concept.id_concepto }}" class="switch-button__label"></label>
                    </div>
                </td>
                <td>
                    <a [routerLink]="" (click)="conceptSelected(concept.id_concepto)"><i class="fas fa-edit" data-toggle="tooltip" title="Editar dato"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #modalActualizar class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Actualizar datos
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide(); refreshState()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{ estateConcept }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="updateState(); modalRef.hide()">Continuar</button>
            <button type="button" class="btn btn-warning" (click)="modalRef.hide(); refreshState()" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</ng-template>