<div class="admintbl table-responsive">
    <table datatable [dtOptions]="dtOptions" id="actividades" class="table table-sm table-striped table-bordered " style="width:100%">
        <thead>
            <tr>
                <th>Cod</th>
                <th>Formato</th>
                <!-- <th>Actividad</th> -->
                <th>Estado</th>
                <th>Acciones </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let format of formats ">
                <td>{{ format.cod_formato }}</td>
                <td>{{ format.nombre_formato }}</td>
                <!-- <td>{{ format.id_actividad }}</td> -->
                <td>
                    <div class="switch-button">
                        <input type="checkbox" name="switch-button" id="{{ format.id_formato }}" class="switch-button__checkbox" [checked]="format.activo" (change)="changeState($event, modalActualizar) ">
                        <label for="{{ format.id_formato }}" class="switch-button__label"></label>
                    </div>
                </td>
                <td>
                    <a [routerLink]=" " (click)="formatSelected(format.id_formato)"><i class="fas fa-edit " data-toggle="tooltip" title="Editar dato"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #modalActualizar class="modal fade" data-backdrop="static " data-keyboard="false " tabindex="-1 " aria-labelledby="staticBackdropLabel " aria-hidden="true ">

    <div>
        <div class="modal-header">
            <h5 class="modal-title " id="modalActualizar ">
                Actualizar datos
            </h5>
            <button type="button " class="close " data-dismiss="modal " aria-label="Close " (click)="modalRef.hide(); refreshState() ">
                <span aria-hidden="true ">&times;</span>
            </button>
        </div>
        <div *ngIf="load" class="container">
            <img src="assets/images/load.gif " class="imgLoad " alt="load ">
        </div>
        <div *ngIf="!load" class="modal-body ">
            {{ estateFormat }}
        </div>
        <div *ngIf="!load" class="modal-footer ">
            <button type="button " class="btn btn-success " (click)="updateState(); modalRef.hide() ">Continuar</button>
            <button type="button " class="btn btn-warning " (click)="modalRef.hide(); refreshState() " data-dismiss="modal ">Cancelar</button>
        </div>
    </div>
</ng-template>