<div class="container">
    <div class="row">
        <div class="footer-logos col-sm-12 col-lg-2 order-2 order-lg-0">
            <div class="logo-govco">
                <a href="https://www.gov.co" target="_blank">GOV CO</a>
            </div>
            <div class="logo-marcaco">
                <a href="https://www.colombia.co/" target="_blank">COLOMBIA CO</a>
            </div>
            <div class="logo-icr">
                <a href="#" target="_blank"></a>
            </div>
        </div>
        <div class="datos-dir col-sm-12 col-lg-5 order-0 order-lg-1">
            <div class="info-dir">
                <h2>Comisión de Regulación de Energía y Gas - CREG</h2>
                <p>
                    Dirección de correspondencia<br /> Av. Calle 116 No. 7-15 Edificio Cusezar Int. 2 Oficina 901
                </p>
                <p>
                    Dirección de combustibles líquidos:<br /> Av. Carrera 9 # 115-06/30 Oficina 2101
                </p>
                <p>
                    Horario de atención:<br /> Lunes a Viernes, 8:00 a.m. a 1:00 p.m., 2:00 p.m. a 5:00 p.m.
                </p>
            </div>
        </div>
        <div class="datos-contacto col-sm-12 col-lg-5 order-1 order-lg-2">
            <div class="info-contacto">
                <h2><i class="fas fa-phone-volume" aria-hidden="true"></i> Contacto</h2>
                <p>
                    PBX: 01 8000 512734, (57)+1 6032020<br /> FAX: (57)+1 6032100, (57)+1 6032049
                </p>
                <p>
                    Correo Institucional: <a href="mailto:creg@creg.gov.co">creg@creg.gov.co</a> - <a href="mailto:contactenos@creg.gov.co">contactenos@creg.gov.co</a><br /> Notificaciones judiciales: notificaciones.judiciales@creg.gov.co<br /> Notificaciones
                    administrativas: oficiales.creg@creg.gov.co<br /> Seguridad digital: seguridaddigital@creg.gov.co<br /> Anticorrupción: anticorrupcion@creg.gov.co<br /> Teléfono: (57)+1 6032020 Ext. 444
                </p>
            </div>
        </div>
    </div>
</div>